<form [formGroup]="form">
    <div class="form-row">
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput user="Name" formControlName="name" required>
        </mat-form-field>
    </div>
    <div class="button-group">
        <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="emitAction()">
                {{actionButtonLabel}}
        </button>  
        &nbsp;
        <button  mat-raised-button color="warn" (click)="onCancel()">
                Cancel
        </button>
    </div>
 </form>
