.homePage {
  max-height: 88vh;
  overflow-y: auto;
}

.image-home {
  min-height: 69vh;
  min-width: 69vh;
  background-image: url('../../../../assets/images/beauty_salon_space.jpg');
  background-position: center center;
  opacity: 0.5;
}

.text-home p{
  font-size: 18px;
  font-family: cursive;
  color: #333;  
  text-align: center;
  margin: 20px 0;
}

.description {
  margin: 10px 0;
  line-height: 1;
}

.container {
  padding: 10px; 
}

.card {
  margin-bottom: 20px;
  background-color: #2c2c2c;
  border-radius: 15px; 
  /* padding: 10px;  */
  padding: 0px 10px 10px 10px;
}

.treatments-container {
  display: flex;
  flex-wrap: wrap;
}

.treatment {
  flex-basis: 30vh;
  margin: 5px;
  padding: 10px;
  background-color: lightgray;
  border-radius: 10px; 
  padding: 10px; 
}

.treatment > div {
  margin-bottom: 1px;
}

.price {
  font-weight: bold;
  font-size: small;
}

.description {
  font-size: small;
}

h2 {
  color: grey;
  padding: 10px 10px 0px 10px;
}

.header {
    display: flex;
    align-items: center;
    height: 2vh;
}

.spacer {
  flex-grow: 1;
} 

.custom-tr:nth-child(odd) {
  background-color: #E0E0E0  /* #BFDDF3; */
}

.type-row {
  font-family: cursive;
}

mat-card {
  max-width: 50%;
  /* margin: 0 auto; */
  margin-bottom: 10px;

  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
}

.center {
  text-align: center;
  font-family: cursive;
}

.type-card {
  margin: 0 auto;
  margin-bottom: 20px;
}

.type-card mat-card-title {
  text-align: center;
}

 
.type-card .treatments-table td.name {
  width: 60%;  
}

.type-card .treatments-table td.price {
  width: 40%;  
}

.services {
  background-color: black;
}

.services h3 {
  color: red;
}
