<div class="homePage">
  <div class="container" id="home">
    <div class="image-home"></div>
    <div class="text-home">
  <p class="description">Explore the Beauty Journey You'll Love. 
    Treat yourself to a world of relaxation and revitalization with our beauty treatments. 
    Our expert team is here to make you look and feel amazing.
  </p>
  <p class="description highlight"><b>Visit us today and start a wonderful journey to feeling beautifully happy!</b></p>
</div>

  </div>

  <div class="container services" id="treatments">
    <h3 class="center">Treatments</h3>
    <ng-container *ngFor="let type of getTreatmentTypes();">
      <mat-card class="type-card center">
        <mat-card-title><h3>{{ type }}</h3></mat-card-title>
        <table class="treatments-table">
          <tr class="custom-tr" *ngFor="let treatment of getTreatmentsByType(type);">
            <td class="name">{{ treatment.name }}</td>
            <td class="price">{{ treatment.price | currency: 'EUR' }}</td>
            <td class="details" matTooltip="{{ treatment.description }}">
              <span *ngIf="treatment.description">+Details</span>
            </td>
          </tr>
        </table>
      </mat-card>
    </ng-container>
  </div>
  


  <div class="container" id="about_us">
    <h3>About Us</h3>
    <span>
      At our salon, we're all about making you feel wonderful.
    </span>
    <p>
      We have a team of friendly and skilled professionals who are here to help you look and feel your best.
    </p>
    <!-- <p> Nullam id nibh at nulla porttitor gravida vel id massa. In hac habitasse platea dictumst. Suspendisse placerat, turpis ac
      sagittis porttitor, arcu magna tempus libero, nec bibendum arcu mi sit amet justo. Cras non tincidunt augue, sed
      sollicitudin arcu. Aliquam eleifend suscipit tortor eget dapibus. Cras consequat hendrerit ex id aliquet. Fusce
      et tellus ultrices, sagittis diam in, gravida sem. Maecenas hendrerit vitae leo sed feugiat. Maecenas dictum
      venenatis magna, et dignissim diam euismod imperdiet.
    </p> -->
    
  </div>
</div>