.form-row {
  display: flex;
  justify-content: space-between;
}

.form-field {
  margin-right: 10px;
}

.button-group {
  display: flex;
  gap: 10px;
}

.custom-datepicker {
  width: 213px; /* Defina o tamanho desejado aqui */
}

.custom-input-number {
  width: 17vh;
}

.form-row {
  display: flex;
  align-items: center;
}

.form-field {
  flex: 1;
}

.add-button {
  float: right;
}
