table, th, td {
    height: 3px;
  }
  
  .custom-tr {
    min-height: 30px;
    height: 30px;
  }
  
  .custom-button-table {
    height: 20px;
  }
  
  .custom-tr:nth-child(odd) {
    background-color: #E0E0E0  /* #BFDDF3; */
  }

  table {
    border: 1px solid #e0e0e0;  
    border-radius: 8px;  
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 1); 
  }