<form [formGroup]="form">
    <div class="form-row">
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First Name" formControlName="firstName" required>
        </mat-form-field>
        
        <mat-form-field class="form-field">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last Name" formControlName="lastName" required>
        </mat-form-field>
    </div>

    <div class="form-row">
        <mat-form-field class="form-field">
            <mat-label>E-mail</mat-label>
            <input matInput type="email" placeholder="Email" formControlName="email" required>
        </mat-form-field>

        <mat-form-field class="form-field">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender">
                <mat-option value="male">Male</mat-option>
                <mat-option value="female">Female</mat-option>
                <mat-option value="others">Others</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="form-row" *ngIf="!(actionButtonLabel == 'Update')">
        <mat-form-field class="form-field">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" formControlName="login" required >
        </mat-form-field>
    </div>

    <div class="form-row" *ngIf="actionButtonLabel == 'Update'">
        <mat-form-field class="form-field">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" [value]="form.get('login')?.value" readonly>
          </mat-form-field>
    </div>

    <div class="form-row">
        <mat-form-field class="form-field">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Password" formControlName="password" 
            (blur)="checkPasswordsMatch()" required>
        </mat-form-field>

        <mat-form-field class="form-field">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword" 
            (blur)="checkPasswordsMatch()" required>
          </mat-form-field>
    </div>

    <div class="form-row">
        <mat-form-field class="form-field">
            <mat-label>Mobile Phone</mat-label>
            <input matInput type="text" appPhoneNumber placeholder="Mobile Phone" minlength="6" formControlName="mobilePhone" required>
        </mat-form-field>

        <mat-form-field class="form-field">
            <mat-label>Home Phone</mat-label>
            <input matInput type="text" appPhoneNumber placeholder="Home Phone"  formControlName="homePhone">
        </mat-form-field>
    </div>
    <div class="form-row" *ngIf="isAdmin">
        <mat-form-field class="form-field">
            <mat-label>Role</mat-label>
            <mat-select formControlName="role">
                <mat-option value="ADMIN">ADMIN</mat-option>
                <mat-option value="CLIENT">CLIENT</mat-option>
                <mat-option value="WORKER">WORKER</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="button-group">
        <button mat-raised-button color="primary" [disabled]="form.invalid || !passwordsMatch()" (click)="emitAction()">
                {{actionButtonLabel}}
        </button>  
        &nbsp;
        <button  mat-raised-button color="warn" (click)="onCancel()">
                Cancel
        </button> 
        <!-- <button  mat-raised-button color="warn" (click)="clear()">
                Clear
        </button>  -->
    </div>
    
    
    
    <!-- <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">Register</button> -->
</form>