<form [formGroup]="form">

    <div class="form-row" *ngIf="selectedAvailability">
        <mat-form-field class="form-field custom-form-field">
            <mat-label>First Name</mat-label>
            <input matInput [value]="form.get('user')?.value?.firstName" [readonly]="true">
        </mat-form-field>

        <mat-form-field class="form-field">
            <mat-label>Last Name</mat-label>
            <input matInput [value]="form.get('user')?.value?.lastName" [readonly]="true">
        </mat-form-field>
    </div>

    <div class="form-row" *ngIf="!selectedAvailability">
        <mat-form-field class="form-field">
            <mat-label>User</mat-label>
            <mat-select formControlName="user" required>
                <mat-option *ngFor="let user of users" [value]="user">{{ user.firstName
                    }} {{ user.lastName}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="form-row">
        <mat-form-field class="form-field custom-one-field">
            <mat-label>Treatments</mat-label>
            <mat-select formControlName="treatments" multiple [compareWith]="compareTreatmentObjects" required>
                <mat-option *ngFor="let treatment of treatments" [value]="treatment">{{ treatment.name
                    }} - ({{treatment.duration}} min) {{treatment.price | currency: 'EUR'}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="form-row">
        <mat-form-field class="form-field custom-datepicker">
            <mat-label>Start Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="startDate" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="form-field custom-datepicker">
            <mat-label>Finish Date</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="finishDate" required>
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

    </div>

    <div class="form-row">
        <mat-form-field class="form-field" appearance="outline">
            <mat-label>Start Time</mat-label>
            <input matInput placeholder="hh:mm" formControlName="hourStartTime" required>
        </mat-form-field>

        <mat-form-field class="form-field" appearance="outline">
            <mat-label>Finish Time</mat-label>
            <input matInput placeholder="hh:mm" formControlName="hourFinishTime" required>
        </mat-form-field>
    </div>


    <div class="button-group">
        <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="emitAction()">
            {{actionButtonLabel}}
        </button>
        &nbsp;
        <button  mat-raised-button color="warn" (click)="onCancel()">
                Cancel
        </button> 
    </div>

</form>