.container {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* CSS erro */
.error {
  color: red; 
  font-size: 14px; 
  font-weight: bold; 
  margin-top: 5px; 
}



  