<table mat-table [dataSource]="availabilities" class="mat-elevation-z8">
    <!-- Data -->
    <ng-container *ngFor="let item of headers" [matColumnDef]="item.fieldName">
        <th mat-header-cell *matHeaderCellDef>
            {{ item.headerName }}
        </th>
        <td mat-cell *matCellDef="let element">
            
            <!-- <ng-container *ngFor="let day of daysOfWeek">
              <ng-container *ngIf="item.fieldName === day">
                <div>
                  <span>
                    <mat-icon *ngIf="element[item.fieldName]">check</mat-icon>
                    <mat-icon *ngIf="!element[item.fieldName]">close</mat-icon>
                  </span>
                </div>
              </ng-container>
            </ng-container> -->
            
            

            <ng-container *ngIf="item.fieldName === 'user' && item.userName">
                {{ getFullName(element[item.fieldName], item.userName) }}
            </ng-container>

            <ng-container *ngIf="item.fieldName === 'startDate' || item.fieldName === 'finishDate' ">
                {{ element[item.fieldName] | date: 'dd/MM/yyyy' }}
            </ng-container>

              <ng-container *ngIf="item.fieldName === 'treatments'">
                <div >
                  <ul class="treatments">
                    <li *ngFor="let treatment of element[item.fieldName]">
                      {{ treatment.name }}  ({{treatment.duration}} min)
                    </li>
                  </ul>
                </div>
              </ng-container>

            <!-- <ng-container *ngIf="!daysOfWeek.includes(item.fieldName) &&  -->
              <ng-container *ngIf=" !(item.fieldName === 'user' 
                                 || item.userName
                                 || item.fieldName === 'startDate' 
                                 || item.fieldName === 'finishDate'
                                 || item.fieldName === 'treatments')">
                {{ element[item.fieldName] }}
            </ng-container>

            <!-- <ng-container>
                {{ element[item.fieldName] }}
            </ng-container> -->
        </td>
    </ng-container>

    <!-- Actions -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef="">
            Actions
        </th>
        <td mat-cell *matCellDef="let element">
            <button class="custom-button-table" (click)="selectAvailability(element,0)" mat-icon-button color="primary">
                <mat-icon>edit</mat-icon>
            </button>
            &nbsp;
            <button (click)="selectAvailability(element, 1)" mat-raised-button color="warn">
                <mat-icon>delete</mat-icon> Delete
            </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="headerFields"></tr>
    <tr class="custom-tr" mat-row *matRowDef="let row; columns: headerFields"></tr>
    <!-- <thead>
        <th *ngFor="let item of headers">{{item.headerName}}</th>
    </thead>
    <tbody>
        <tr (click)="selectUser(item)" *ngFor="let item of users">
            <ng-container *ngFor="let header of headers">
                <td>{{item[header.fieldName]}}</td>
            </ng-container>
        </tr>
    </tbody> -->
</table>