.container {
  display: flex;
  justify-content: center;
  background-color: #1C1C1C;
  width: 100%;
  position: relative;
  height: 55px;
}

.button {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  height: 50px;
  z-index: 1;
  margin-left: 10px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

button {
  margin-right: 10px;
}

h2 {
  margin: 0;
  font-family: cursive;
  color: whitesmoke;
}
