table, th, td {
    /* border: 1px solid; */
    /* border-collapse: collapse; */
    height: 3px;
  }
  
  .custom-tr {
    min-height: 30px;
    height: 30px;
  }
  .custom-button-table {
    height: 20px;
  }
  