:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
  }
  
  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }
  
  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }
  
  .error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
  }
  
  .button {
    display: flex;
    justify-content: flex-end;
  }
  
  .link {
      cursor: pointer;
      text-decoration: underline;
      
  }


  .form-row {
    display: flex;
    justify-content: space-between;
  }

  .form-field {
    margin-right: 10px; 
  }




mat-card {
  max-width: auto;
  margin: 0 auto;
}

.form-field {
  margin-bottom: 16px;
}

button[mat-button] {
  background-color: #007bff;
  color: white;
}

button[mat-button]:disabled {
  background-color: #bdbdbd;
  color: #616161;
}

.link {
  display: inline-block;
  padding: 8px 16px;
  text-align: center;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.link:hover {
  background-color: #0056b3;
}
