<h4>{{selectedBook ? "Update/View Book" : "Select the treatment and the day"}}</h4>

<div *ngIf="!selectedBook">
  <form [formGroup]="searchForm">
    <div class="form-row">
      <mat-form-field class="form-field">
        <mat-label>Treatments</mat-label>
        <mat-select formControlName="treatment" [compareWith]="compareTreatmentObjects" required>
          <mat-option *ngFor="let treatment of treatments" [value]="treatment">{{ treatment.name
            }} - {{treatment.duration}} min</mat-option>
        </mat-select>
        <mat-error *ngIf="searchForm.controls['treatment'].errors?.['required']">Treatments is required</mat-error>
      </mat-form-field>
  
      <mat-form-field class="form-field">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" [matDatepickerFilter]="sundayFilter" formControlName="dateBook"
          [min]="minDate" [max]="maxDate" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="searchForm.controls['dateBook'].errors?.['required']">Date is required</mat-error>
      </mat-form-field>
    </div>
  </form>
  
  <hr>
  
  <form [formGroup]="resultForm">
    <ng-container *ngIf="bookSlots$ | async as bookSlots">
      <div *ngIf="searchCompleted">
        <div *ngIf="getBookSlotsSize(bookSlots) > 0">
          <mat-form-field>
            <mat-label>Select Time:</mat-label>
            <mat-select id="mySelect" formControlName="selectedSlotKey" (selectionChange)="selectSlotKey($event.value)">
              <mat-option *ngFor="let slotKey of bookSlots | keys" [value]="slotKey">{{ slotKey }}</mat-option>
            </mat-select>
          </mat-form-field>
  
          <div *ngFor="let slotKey of bookSlots | keys">
            <ng-container *ngIf="resultForm.get('selectedSlotKey')?.value === slotKey">
              <p>{{ bookSlots[slotKey]['startTimeBook']}} - {{ bookSlots[slotKey]['finishTimeBook']}} ({{
                bookSlots[slotKey]['dateBook']}}) </p>
              <p>Select de Professional: </p>
              <mat-radio-group formControlName="selectedBookSlot" required>
                <mat-radio-button *ngFor="let bookSlot of toArray(bookSlots[selectedSlotKey]['bookDetails'])"
                  [value]="bookSlot" (click)="selectBookSlot(bookSlot)">
                  {{ bookSlot.userName }}
                </mat-radio-button>
              </mat-radio-group>
            </ng-container>
          </div>
        </div>
        <div *ngIf="searchCompleted && getBookSlotsSize(bookSlots) === 0">
          <h3>Sorry, there is no availability for this criteria</h3>
        </div>
      </div>
    </ng-container>
    <form [formGroup]="bookForm">    
    <ng-container *ngIf="this.selectedBookSlot !== null">
      <div class="form-row">
        <mat-form-field class="example-full-width" appearance="outline" style="width: 100%;">
          <mat-label>Observation</mat-label>
          <textarea matInput formControlName="observation" cols="300" rows="4"></textarea>
        </mat-form-field>
      </div>
  
      <div>
        <button mat-raised-button color="primary" [disabled]="resultForm.invalid" (click)="booking()">Booking</button>
      </div>
    </ng-container>
  </form>
  </form>
</div>



<div *ngIf="selectedBook">
  <form [formGroup]="bookForm">
    <p><b>Treatment: </b> {{ bookForm.get('treatmentName')?.value }}</p>
    <p><b>Date: </b> {{ bookForm.get('dateBook')?.value }}</p>
    <p><b>From: </b> {{ bookForm.get('startTimeBook')?.value }} <b> to </b> {{ bookForm.get('finishTimeBook')?.value }}</p>
    <p><b>Professional: </b> {{ bookForm.get('workerUserFirstName')?.value }} {{ bookForm.get('workerUserLastName')?.value }}</p>
    <p><b>Client: </b> {{ bookForm.get('clientUserFirstName')?.value }} {{ bookForm.get('clientUserLastName')?.value }}</p>
    <p><b>Date Create: </b> {{ bookForm.get('createdDate')?.value }}</p>

    <mat-form-field appearance="fill">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let status of getBookStatusValues()" [value]="status">
          {{ getStatusName(status) }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    
    
      <div class="form-row">
        <mat-form-field class="example-full-width" appearance="outline" style="width: 100%;">
          <mat-label>Observation</mat-label>
          <textarea matInput formControlName="observation" cols="300" rows="4"></textarea>
        </mat-form-field>
      </div>
  
      <div>
        <button mat-raised-button color="primary" (click)="updateStatus()">Update</button>
      </div>
    
  </form>
</div>

