.form-row {
  display: flex;
  justify-content: space-between;
}

.form-field {
  margin-right: 10px;
}

.form-row .form-field {
  margin-bottom: -12px;
}

.button-group {
  display: flex;
  gap: 10px;
}

.button-toggle-container-horizontal {
  display: flex;
  flex-wrap: nowrap;  
  overflow-x: auto;  
  width: 1000px;
}

/* .auto-close-panel .mat-select-panel {
  position: static;
  pointer-events: none;
  opacity: 0;
} */

/* .auto-close-panel .mat-select-panel {
  display: none !important;
} */
