.container {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: solid 10px pink; */
}

.report {
  min-width: 80vh;
  max-width: 100vh;
  max-height: 70vh;
  overflow-y: auto;
  /* border: solid 10px green; */
}

.paragraph-spacing p {
  margin-bottom: 1px;
  margin-top: 1px;
}

.custom-table td {
  padding: 10px 20px;
}

.invoice-pdf {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.text-right {
  text-align: right;
}

.total-label {
  font-weight: bold;
}

.icon-size {
  width: 100px;
}
